* {
    padding: 0;
    margin: 0;
}

html {
    background-color: antiquewhite;
}

.grafico {
    background-color: rgb(129, 129, 237);
    width: 1000px;
    height: 600px;
    position: relative;
}

.punto {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 2rem;
    background-color: black;
}

.botones {
    position: relative;
    background-color: blueviolet;
    width: 1000px;
    height: 200px;
    top: 70%;
    left: 10px;
}

.botones-v2 {
    display: inline-block;
    background-color: red;
    width: 400px;
    height: 200px;
}

.boton {
    display: inline-block;
    background-color: brown;
    width: 100px;
    height: 100px;
}

#orden-submit {
    display: inline-block;
    background-color: green;
    width: 100px;
    height: 100px;
}